
alias cls='clear'

alias ls='ls -AX --color=auto'
alias ll='ls -lhFAX'

alias md='mkdir -p'
alias rd='rmdir'
alias d='dirs -v'

alias ht='htop'
alias grep='grep --color=auto'
alias svim='sudo vim'
alias ping='ping -c 5'
alias reboot='sudo shutdown -r now'
alias shutdown='sudo shutdown -h now'
alias zsource='source ~/.zshrc'

# Following alias used to update zsh plugins as needed
alias plugpull="find ${ZDOTDIR:-$HOME}/.zsh_plugins -type d -exec test -e '{}/.git' ';' -print0 | xargs -I {} -0 git -C {} pull"

alias weather='ansiweather'
alias volfix='sudo alsactl --file ~/.config/asound.state restore'

# Apt Aliases
alias update='sudo apt update'
alias upgradable='apt list --upgradable'
alias upgrade='sudo apt upgrade -y'

# Vimwiki
# alias vimwiki='vim -c VimwikiIndex'

# Mount and Unmount iPhone to filesystem
alias mountiphone='ifuse ~/AppleIphone'
alias unmountiphone='fusermount -u ~/AppleIphone'


# RecalBox
alias rbmount='sshfs root@recalbox:/recalbox/share ~/RecalboxShare'
alias rbunmount='fusermount3 -u ~/RecalboxShare'
alias rbssh='ssh -t root@recalbox "cd /recalbox/share ; bash --login"'

# 3D Printer
alias hydra='ssh john@192.168.1.197'
